<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>RANDOMS !!!</h1>
    </div>
    <div>
        <p>RANDOM !!!!</p>

        <h2>Existing Customers</h2>
        <div class="well">
            <b>This page is random </b>
        </div>
    </div>
    <div id="pagefoot" th:include="layout :: footerFragment">Footer
    </div>
    <a href="/logout">Logout</a>
</div>
<!-- container -->

</body>
</html>